<div>other videos
    <!-- types of videos objects -->
    <div>filter
        <div>all</div>
        <div>x</div>
        <div>y</div>
        <div>z</div>
        <div>more</div>
    </div>
    <!-- other available videos objects -->
    <div>video card
        <div>thumbnail</div>
        <div>
            <div>video title</div>
            <div>publisher</div>
            <div>
                <div>views</div>
                <div>time since published</div>
            </div>
            <div>new tag</div>
        </div>
        <div>options</div>
    </div>
</div>