<div id="pagebackground">
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- navbar topmost section object -->
                <app-navbar></app-navbar>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-7" id="mainvideo">
                <!-- main video object -->
                <app-mainvideo class=""></app-mainvideo>
            </div>
            <div class="col-sm-4">
                <!-- other videos object -->
                <app-othervideos></app-othervideos>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</div>