<div>
    <!-- navbar topmost section object -->
    <nav>
        <div>sidebar menu</div>
        <div>youtube home</div>
        <div>search bar</div>
        <div>create</div>
        <div>youtube apps</div>
        <div>notifications</div>
        <div>profile</div>
    </nav>
    <!-- main video object -->
    <div> main video
        <!-- current video object -->
        <div>video player</div>
        <!-- all info from the current video object -->
        <div> basic info
            <div>hashtags</div>
            <div>video title</div>
            <div>
                <div>views</div>
                <div>publish date</div>
                <div>likes</div>
                <div>dislikes</div>
                <div>share</div>
                <div>clip</div>
                <div>extras</div>
            </div>
            <br>
            <div>
                <div>publisher</div>
                <div>join</div>
                <div>subscribe button</div>
                <div>notifications bell</div>
            </div>
            <div>
                <div>video description</div>
                <div>categories' cards
                    <div>card 1</div>
                    <div>card 2</div>
                </div>
                <div>show more/expand description</div>
            </div>
            <br>
            <!-- comment section object -->
            <div>comment section</div>
            <div>
                <div>total comments</div>
                <div>sort by</div>
            </div>
            <!-- add comment object -->
            <div>add comment
                <div>user picture</div>
                <div>comment</div>
                <div>cancel</div>
                <div>comment</div>
            </div>
            <!-- listed comments objects -->
            <div>comments
                <div>
                    <div>user</div>
                    <div>
                        <div>username</div>
                        <div>time since comment</div>
                    </div>
                    <div>comment</div>
                    <div>
                        <div>likes</div>
                        <div>dislikes</div>
                        <div>reply</div>
                    </div>
                    <div>replies</div>
                </div>
            </div>
        </div>
    </div>
    <!-- other videos object -->
    <div>other videos
        <!-- types of videos objects -->
        <div>filter
            <div>all</div>
            <div>x</div>
            <div>y</div>
            <div>z</div>
            <div>more</div>
        </div>
        <!-- other available videos objects -->
        <div>video card
            <div>thumbnail</div>
            <div>
                <div>video title</div>
                <div>publisher</div>
                <div>
                    <div>views</div>
                    <div>time since published</div>
                </div>
                <div>new tag</div>
            </div>
            <div>options</div>
        </div>
    </div>
</div>
