<div class="bg bg-primary align-baseline">
    <div class="row">
        <div class="col-sm-1">
            <div>sidebar menu</div>
        </div>

        <div class="col-sm-1">
            <div>youtube home</div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-4 searchbar">
            <form action="">
                <input type="text" placeholder="Search" id="searchbar" class="searchbar">
            </form>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-4">
            <div class="col-sm-3">
                <div>create</div>
            </div>

            <div class="col-sm-3">
                <div>youtube apps</div>
            </div>

            <div class="col-sm-3">
                <div>notifications</div>
            </div>
            
            <div class="col-sm-3">
                <div>profile</div>
            </div>
        </div>
    </div>
</div>